<h1>Hola soy la pagina de contacto</h1>
<h2>Complete el siguiente formulario</h2>
<form action="">
    <input type="text" placeholder="Nombre">
    <input type="text" placeholder="Fecha de evento">
    <input type="text" placeholder="Tipo de evento">
    <input type="submit">
    
</form>